<div class="list-group">
  <a routerLink="/"  [ngClass]="{'active':isHomePage()}" class="list-group-item list-group-item-action active" > Ana sayfa</a>
  <a routerLink="/hakkimizda" routerLinkActive="active" class="list-group-item list-group-item-action">Hakkımızda</a>
  <a routerLink="/galeri" routerLinkActive="active" class="list-group-item list-group-item-action">Galeri </a>
  <a routerLink="/iletisim" routerLinkActive="active" class="list-group-item list-group-item-action">İletişim </a>
</div>
