<router-outlet></router-outlet>
<!-- <app-example></app-example>
<hr>
<app-example2></app-example2>
<hr>
<app-exam3></app-exam3>
<hr>
<app-eventclick></app-eventclick>
<hr>
<app-datapass-input name="Ahmet"></app-datapass-input>
<hr>
<app-two-way-binding></app-two-way-binding>
<hr>
<app-ng-onchange-hook></app-ng-onchange-hook> -->

<app-ngfor></app-ngfor>
<hr>
<app-ng-if></app-ng-if>
<hr>
<app-ng-switch></app-ng-switch>
<hr>
<app-ng-class></app-ng-class>
<hr>
<app-ng-style></app-ng-style>
<hr>
<app-ng-model></app-ng-model>
<hr>

<h2 appCustom> Angular (Custom Directive) </h2>
