<select [formControl]="selectCurrency">
  <option *ngFor="let item of currencyList" value="{{item}}">{{item}}</option>
</select>

<app-a></app-a>
<hr>
<app-b></app-b>

<app-search></app-search>
<hr>
<app-ornekt></app-ornekt>
<hr>
<h2>Ana component</h2>
<div *ngIf="isLoadingShow">
<div class="d-flex justify-content-center">
  <div class="spinner-border" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</div>
</div>
<div class="alert alert-info" *ngFor="let post of postList">{{post}}</div>




<router-outlet></router-outlet>
