<h3>Json Pipes</h3>
<p>{{person1}}</p>
<p>{{person1 |json}}</p>
<p>{{person2 |json}}</p>
<hr>

<h3>UpperCase/LowerCase Pipes</h3>
<p>{{'angular'| uppercase}}</p>
<p>{{'ANGULAR'| lowercase}}</p>
<p>{{'ANGULAR'| titlecase}}</p>
<p>{{person1.firstName | titlecase}} {{person1.lastName | uppercase}}</p>
<hr>
<h3>Date Pipes</h3>
<p>{{myDate | date:'dd-MM-yyy'}}</p>
<p>{{myDate | date:'longDate'}}</p>
<p>{{myDate | date:'fullDate'}}</p>
<p>{{myDate | date:'shortTime'}}</p>
<hr>
<h3>Currency Pipes</h3>
<p>{{price | currency}}</p>
<p>{{price | currency:'EUR'}}</p>
<p>{{price | currency:'TRY'}}</p>
<hr>
<h3>Decimal Pipes</h3>
<p>{{5.123456789| number:'1.0-3'}}</p>
<p>{{5.123456789| number}}</p>

<p>{{5.123456789| number:'1.0-0'}}</p>

<!-- 3(noktadan önce).1-5(noktadan sonra) -->
<hr>
<h3>Slice Pipes</h3>
<p>{{'Angular' |slice:2:4}}</p>
<p>{{[0,1,2,3,4,5] |slice:2:4}}</p>
<hr>
<h3>Percent Pipes</h3>
<p>{{0.12345 | percent:'1.0-1'}}</p>

<h3>Custom Upper Pipes</h3>
<p>{{person1.firstName | upper}} </p>
